<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <!-- <img width="350" alt="Angular Logo" src="../assets/images/star-wars.jpeg"> -->
</div>