:host {
  width: 100%;
  padding: 5%;
}

  :host > img {
    position: absolute;
    opacity: 0.4;
    z-index: -1;
    top: 0;
    left: 0;
  }

  :host > h3 {
    font-weight: bolder;
  }

  .starship-table {    
    width: 100%;
  }

    .th-header {
      font-weight: bold;
      font-size: 12pt;
    }

    .tr-content {
      font-size: 12pt;
    }