<!-- <div *ngIf="starships"> -->
  <img src="../../assets/images/star-wars-wallpaper.jpg">
  <h3>Starships</h3>
  <table mat-table [dataSource]="dataSource" class="starship-table mat-elevation-z8">
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="th-header"> Name </th>
      <td mat-cell *matCellDef="let element" class="tr-content"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef class="th-header"> Model </th>
      <td mat-cell *matCellDef="let element" class="tr-content"> {{element.model}} </td>
    </ng-container>
  
    <ng-container matColumnDef="starship_class">
      <th mat-header-cell *matHeaderCellDef class="th-header"> Starship Class </th>
      <td mat-cell *matCellDef="let element" class="tr-content"> {{element.starship_class}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<!-- </div> -->