<app-title></app-title>

<div class="movie-table">
  <img src="../../assets/images/darth-vader.jpg">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="th-header"> Nª </th>
      <td mat-cell *matCellDef="let element" [routerLink]="['movie/', element.id]" routerLinkActive="router-link-active" class="tr-content"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef class="th-header"> Name </th>
      <td mat-cell *matCellDef="let element" [routerLink]="['movie/', element.id]" routerLinkActive="router-link-active" class="tr-content"> {{element.title}} </td>
    </ng-container>
  
    <ng-container matColumnDef="release_date">
      <th mat-header-cell *matHeaderCellDef class="th-header"> Release Date </th>
      <td mat-cell *matCellDef="let element" [routerLink]="['movie/', element.id]" routerLinkActive="router-link-active" class="tr-content"> {{element.release_date}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>