.movie-table {
  padding: 5%;
}

  .movie-table > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0.4;
    z-index: -1;
  }

  .movie-table > table {    
    width: 100%;
  }

    .th-header {
      font-weight: bold;
      font-size: 12pt;
    }

    .tr-content {
      font-size: 12pt;
    }