<div class="movie-details" *ngIf="movie?.title">
  <h2>
    {{movie?.title}} &mdash; {{movie?.release_date}}
    <br>
  </h2>
  <div *ngIf="movie?.starshipsId" style="width: 100%; padding: 5%;">
    <!-- {{movie.starshipsId}} -->
    <app-starship [starshipsId]='starshipsId'></app-starship>
  </div>
</div>