:host {
  width: 100%;
  background-image: url('../../assets/images/star-wars-wallpaper.jpg');
  background-size: cover;
}

.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0;
}

  .movie-details > h2 {
    font-weight: bolder;
  }